// Custom Asteroids: Kuiper belt analog, scattered disk analog, short-period comets
// Trans-Neidon.cfg
// by Starstrider42
//
// For Custom Asteroids 1.9+ and Outer Planets Mod 2.0+

AsteroidSets
{
	name = OPM_outer

	// Classical KBOs partially based on "The CFEPS Full Data Release",
	// Petit et al. (2012), Astronomical Journal 142, 131, and
	// "The CFEPS High-Latitude Component", Petit et al. (2017),
	// Astronomical Journal 153, 236

	// With default lifetime settings, 1.1 KBOs will be around on average
	// These are 75% non-resonant and 25% Eelinos

	ASTEROIDGROUP
	{
		name = kboNonResonantCold
		title = #autoLOC_CustomAsteroids_OPM_GroupKBO

		centralBody = Sun

		spawnRate = 0.04

		orbitSize
		{
			dist = LogUniform
			type = SemimajorAxis
			min  = Ratio(Neidon.sma, 1.4)	// 42 AU, rescaled from Neptune's to Neidon's orbit
			max  = Resonance(Neidon, 1:2)
		}

		eccentricity
		{
			dist = Rayleigh
			avg = 0.04
		}

		inclination
		{
			dist = Rayleigh
			avg = 3.3
		}

		asteroidTypes
		{
			key = 0.10 CaAsteroidCarbon
			key = 0.90 CaAsteroidIcy
		}

		sizes
		{	// Only large objects detectable
			key = 0.6 D
			key = 0.4 E
		}
	}

	ASTEROIDGROUP
	{
		name = kboNonResonantHot
		title = #autoLOC_CustomAsteroids_OPM_GroupKBO

		centralBody = Sun

		spawnRate = 0.04

		orbitSize
		{
			dist = LogUniform
			type = SemimajorAxis
			min  = Resonance(Neidon, 2:3)
			max  = Resonance(Neidon, 1:2)
		}

		eccentricity
		{
			dist = Rayleigh
			avg = 0.12		// Max to avoid Neidon orbit-crossers
		}

		inclination
		{
			dist = Rayleigh
			avg = 18
		}

		asteroidTypes
		{
			key = 0.10 CaAsteroidCarbon
			key = 0.90 CaAsteroidIcy
		}

		sizes
		{	// Only large objects detectable
			key = 0.6 D
			key = 0.4 E
		}
	}

	ASTEROIDGROUP
	{
		// Plockinos
		name = kbo2-3
		title = #autoLOC_CustomAsteroids_OPM_GroupKBO

		centralBody = Sun

		spawnRate = 0.025

		orbitSize
		{
			dist = LogUniform
			type = SemimajorAxis
			min  = Resonance(Neidon, 2:3)
			max  = Resonance(Neidon, 2:3)
		}

		eccentricity
		{
			dist   = Gaussian
			avg    = 0.18
			stddev = 0.06
		}

		inclination
		{
			dist = Rayleigh
			avg = 12.5		// Plock has inclination 6 degrees, vs. 17 for Pluto
		}

		// Only few Plockinos are in Kozai resonance; don't bother constraining arg. of perihelion
		// Should constrain longitudes, but CA can't represent three-variable relationships

		asteroidTypes
		{
			key = 0.10 CaAsteroidCarbon
			key = 0.90 CaAsteroidIcy
		}

		sizes
		{	// Only large objects detectable
			key = 0.6 D
			key = 0.4 E
		}
	}

	ASTEROIDGROUP
	{
		name = outerComets
		title = #autoLOC_CustomAsteroids_OPM_GroupSDO

		centralBody = Sun

		// Very hard to find: 100 Earth days (400 Kerbin days) between discoveries
		// With default lifetime settings, an SDO will be visible 10% of the time
		spawnRate = 0.01

		orbitSize
		{
			dist = LogUniform
			type = Periapsis
			min  = Ratio(Neidon.apo, 1.0)	// ~30 AU
			max  = Ratio(Neidon.apo, 1.6)	// ~50 AU
		}

		eccentricity
		{
			dist = Rayleigh
			avg = 0.5
		}

		inclination
		{
			dist = Rayleigh
			avg = 15
		}

		orbitPhase			// Typically visible near periapsis
		{
			type   = MeanAnomaly
			epoch  = Now
			dist   = Gaussian
			avg    = 0
			stddev = 10
		}

		asteroidTypes
		{
			key = 0.10 CaAsteroidCarbon
			key = 0.90 CaAsteroidIcy
		}

		sizes
		{	// Only large objects detectable
			key = 0.6 D
			key = 0.4 E
		}
	}

	ASTEROIDGROUP
	{
		name = kentaurs
		title = #autoLOC_CustomAsteroids_OPM_GroupKentaur

		centralBody = Sun

		// Somewhat less common than intermediate-period comets
		spawnRate = 0.005

		orbitSize
		{
			dist = LogUniform
			type = SemimajorAxis
			min  = Ratio(Jool.sma, 1.8)	// T_J >~ 3
			max  = Ratio(Neidon.sma, 0.8)	// Minimize overlap with periodic comets
		}

		eccentricity
		{
			dist = Rayleigh
			avg = 0.35
		}

		inclination
		{
			dist = Rayleigh
			avg = 22
		}

		asteroidTypes
		{
			key = 1.0 PotatoComet
		}

		orbitType = OPMkentaur
		useCometName = false		// Use minor planet names

		// Same size distribution as intermediate-period comets
		sizes
		{
			key = 0.3 F
			key = 0.4 G
			key = 0.3 H
		}
	}

	ASTEROIDGROUP
	{
		name = neidonTrojanLeading
		title = #autoLOC_CustomAsteroids_OPM_GroupNeidonTrojan

		centralBody = Sun

		// Rare compared to other TNOs
		spawnRate = 0.005

		orbitSize
		{
			type = SemimajorAxis
			min = Resonance(Neidon, 1:1)
			max = Resonance(Neidon, 1:1)
		}

		eccentricity
		{
			avg = 0.05
		}

		inclination
		{
			avg  = 14
		}

		orbitPhase
		{
			type   = MeanLongitude
			epoch  = GameStart
			dist   = Gaussian
			avg    = Offset(Neidon.mnl0, 60)
			stddev = 12
		}
		periapsis		// requirement for resonance
		{
			type   = Longitude
			dist   = Gaussian
			avg    = Offset(Neidon.lpe, 60)
			stddev = 12
		}

		asteroidTypes
		{
			key = 0.10 CaAsteroidCarbon
			key = 0.90 CaAsteroidIcy
		}

		sizes
		{	// Only large objects detectable
			key = 0.6 D
			key = 0.4 E
		}
	}

	ASTEROIDGROUP
	{
		name = neidonTrojanTrailing
		title = #autoLOC_CustomAsteroids_OPM_GroupNeidonTrojan

		centralBody = Sun

		spawnRate = 0.005

		orbitSize
		{
			type = SemimajorAxis
			min = Resonance(Neidon, 1:1)
			max = Resonance(Neidon, 1:1)
		}

		eccentricity
		{
			avg = 0.05
		}

		inclination
		{
			avg  = 14
		}

		orbitPhase
		{
			type  = MeanLongitude
			epoch = GameStart
			dist = Gaussian
			avg    = Offset(Neidon.mnl0, -60)
			stddev = 12
		}
		periapsis		// requirement for resonance
		{
			type   = Longitude
			dist   = Gaussian
			avg    = Offset(Neidon.lpe, -60)
			stddev = 12
		}

		asteroidTypes
		{
			key = 0.10 CaAsteroidCarbon
			key = 0.90 CaAsteroidIcy
		}

		sizes
		{	// Only large objects detectable
			key = 0.6 D
			key = 0.4 E
		}
	}
}

// Comets are now the responsibility of the Stockalike config
// Rescale the orbits, but otherwise respect Stock parameters
// If Stockalike not installed, no comets will appear
@AsteroidSets[CustomAsteroids_stock]:FOR[OPM]
{
	@ASTEROIDGROUP[comet_intermediate_*],*
	{
		// Stock had apoapsis at 6-16 AU, and period 6-25 years
		@orbitSize
		{
			%type = Apoapsis
			%dist = Uniform
			%min = Ratio(Jool.sma, 3.12)	// Period ~25 years
			%max = Ratio(Neidon.sma, 1.25)	// Period ~95 years
		}

		@eccentricity
		{
			%dist = Uniform
			%min = 0.9
			%max = 0.99
		}
	}

	@ASTEROIDGROUP[comet_long_*],*
	{
		// Stock had periapsis at 0.5-1.6 AU, and period 35-400 years
		@eccentricity
		{
			%dist = Uniform
			%min = 0.97	// Period ~ 70-400 years
			%max = 0.99	// Period ~ 360-2000 years
		}

		@orbitPhase
		{
			%min = -3
			%max = -1
		}
	}
}

COMET_ORBIT_TYPE
{
	name = OPMkentaur
	displayName = #autoLOC_CustomAsteroids_OPM_GroupKentaur
	description = #autoLOC_CustomAsteroids_OPM_BlurbKentaur
	// The values below will not be used by the Custom Asteroids spawner,
	// but may be used by e.g. Sentinel.
	chanceWeight = 0	// Not a comet, so create only through Custom Asteroids
	inclination1Min = -40
	inclination1Max = 40
	inclination2Min = 120
	inclination2MAx = 180
	inclination1Chance = 0.8
	// pe, ap in units of FlightGlobals.GetCometPerturber() [Jool]
	peMin = 1.0
	peMax = 3.5
	apMin = 1.25		// In tests, KSP handles peMax > apMin just fine
	apMax = 6.0
	minCometClass = F
	maxCometClass = H
}

EXPERIMENT_DEFINITION
{
	id = cometSample_OPMkentaur
	title = #autoLOC_CustomAsteroids_OPM_SciKentaurExperiment
	baseValue = 180
	scienceCap = 200	// vs. intermediate- (150) and long-period comets (300)
	dataScale = 1

	requireAtmosphere = False
	requireNoAtmosphere = False
	situationMask = 63
	biomeMask = 7

	RESULTS
	{
		default = #autoLOC_CustomAsteroids_OPM_SciKentaurSample
	}
}

Localization
{
	en-us
	{
		#autoLOC_CustomAsteroids_OPM_GroupNeidonTrojan = Neidon Trojan
		#autoLOC_CustomAsteroids_OPM_GroupKBO = Kuper Belt Obj.
		#autoLOC_CustomAsteroids_OPM_GroupSDO = Scattered Disk Obj.

		#autoLOC_CustomAsteroids_OPM_GroupKentaur = Kentaur
		#autoLOC_CustomAsteroids_OPM_BlurbKentaur = Kentaurs are icy bodies that have been pulled into the outer solar system by the gravity of Neidon and the other giant planets. Some of them show cometary activity and many may eventually become short- or intermediate-period comets, but for now they orbit beyond Jool.
		#autoLOC_CustomAsteroids_OPM_SciKentaurExperiment = Kentaur Sample
		#autoLOC_CustomAsteroids_OPM_SciKentaurSample = This Kentaur has remained relatively untouched since its ejection from trans-Neidonian space, and will help our scientists get a better look at conditions in the outermost regions of the protoplanetary disk. You're just glad you don't need to go all the way out to the Kuper Belt.
	}
		fr-fr
	{
		#autoLOC_CustomAsteroids_OPM_GroupNeidonTrojan = Ast. troyens de Neidon
		#autoLOC_CustomAsteroids_OPM_GroupKBO = Obj. Ceinture Kuper
		#autoLOC_CustomAsteroids_OPM_GroupSDO = Obj. Disque dispersé 

		#autoLOC_CustomAsteroids_OPM_GroupKentaur = Kentaur
		#autoLOC_CustomAsteroids_OPM_BlurbKentaur = Les Kentaures sont des corps glacés qui ont été attirés dans le système solaire externe par la gravité de Neidon et des autres planètes géantes. Certains d'entre eux montrent une activité cométaire et beaucoup pourraient éventuellement devenir des comètes à période courte ou intermédiaire, mais pour l'instant, ils orbitent au-delà de Jool.
		#autoLOC_CustomAsteroids_OPM_SciKentaurExperiment = Échantillon de Kentaur
		#autoLOC_CustomAsteroids_OPM_SciKentaurSample = Ce Kentaur est resté relativement intact depuis son éjection de l'espace trans-Neidonien et aidera nos scientifiques à mieux observer les conditions dans les régions les plus externes du disque protoplanétaire. Vous êtes juste content de ne pas avoir besoin d'aller jusqu'à la ceinture de Kuper.
	}
}
